h1 {
  font-weight: bolder;
  font-size: 140%;
  color: white;
}

h2 {
  font-weight: bold;
  font-size: 120%;
  color: white;
}

label {
  text-align: left;
  color: white;
  font-size: 100%;
}

.result-item, .favorite-item, .history-item{
    background-color: white;
    text-align: left;
    padding: 5px 20px 5px 20px;
    margin-bottom: 5px;
}

.result-item h3{
  font-size: 110%;
}

.result-item h3, .result-item p, .favorite-item p, .history-item p {
    margin-bottom: 0;
}

