body{
  margin-top: 8rem;
}
.navbar {
  display: block;
  width: 100%;
  height: 6.5rem;
  background-color: grey;
  z-index: 99;
  position: fixed;
  top: 0px;
}

.navbar-list {
  list-style: none;
  height: 100%;
  display: flex;
}

.navbar-list, .navbar-item{
  margin-bottom: 0;
}

.navbar-item {
  height: 100%;
  flex-grow: 1;
  align-items: center;
  display: flex;
}

.navbar-item a{
  width: 100%;
  text-align: center;
  display: block;
  text-decoration: none;
  color: white;
}

.navbar-item.active{
  background-color: darkgray;
}

.logo {
    display: inline-block;
    max-height: 140px;
}
